:root {
    --title__size: 48px;
    --info__size: 24px;
    --light__grey__text:  #656565;
    --font18: 18px;
}

/* header */

.header__top {
    background-color: black;
    text-align: right;
    padding: 14px 12px;
}

.brand img {
    width: 90px;
}

/* header bottom */

.nav-item a {
    color: black !important;
}

#button__nav__bar {
    color: white !important;
    background-color: #363636 !important;
    margin: 0 1rem;
}

/* main */

.container__main {
    padding: 0 50px;
}

.jumbo__bg {
    min-height: 90vh;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content__jumbo {
    padding-top: 16rem;
}

.titles__main, .ps5__title, .console__ps5, .ps4__title {
    font-size: var(--title__size);
    line-height: 48px;
}

.desc__game {
    font-size: var(--font18);
}

#button__buy {
    color: white !important;
    background-color: red !important;
}

.carousel {
    padding: 40px 0;
    position: relative;
}

.carousel img {
    border-radius: 20px;
}

.active {
    border: 2px solid #0061c8;
    border-radius: 20px;
    padding: 3px;
}

.img__car__unselected:hover .img__car {
    border: 2px solid #0061c8;
    border-radius: 20px;
    padding: 3px;
}


/* ************************************* */
@media all and (min-width:992px) {
    .returnal__description {
        max-width: 40%;
    }
}
/* ************************************** */

/* ps5 */

.ps5__info, .console__ps5__info, .ps4__info {
    font-size: var(--info__size);
    color: #656565;
}

#button__info__ps5 {
    background-color: #2d64e6;
    color: white;
}

.ps5__included {
    cursor: pointer;
    opacity: 0.5;
}

#active__element {
    opacity: 1;
}


.ps5__included:hover {
    opacity: 1;
    border-bottom: 3px;
    border-color: #0061c8;
}

.ps5, .ps4{
    padding: 5rem 0 4rem 0;
}

.ps5__included div {
    font-size: 20px;
    display: none;
}


/* ************************************** */

@media all and (min-width:768px) {
    .ps5__included div {
        display: block;
    }
}

/* **************************************** */

/* second jumbotron */

.jumbo__bg__second {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    padding-top: 2rem;
}

/* new exit */

.img__new__exit {
    border-radius: 20px;
}

/* ps4 */

.col__title__ps4 {
    font-size: var(--title__size);
}

.col__description__ps4 {
    font-size: var(--info__size);
    color: var(--light__grey__text);
}

/* playstationplus */

.ps__plus {
    background-color: #bebcbb;
}

.ps__plus__info div {
    font-size: var(--font18);
}

#button__info__ps__plus {
    background-color: rgba(255, 255, 255, 0.5) ;
    color: blue;
}